* {
    font-family: 'Noto Sans', sans-serif;
    background-color: #EFEFEF;
}

.container {
    text-align: center;
}

.pic {
    margin-top: 80px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 2px #999999;
}

h1 {
    color: #777777;
    letter-spacing: 3px;
}

.location {
    font-size: 20px;
    color: #AAAAAA;
    letter-spacing: 1px;
}

.descr {
    margin-top: 10px;
    font-size: 14px;
    width: 50%;
    display: inline-block;
    color: #777777;
    letter-spacing: 1px;
}

.icon-bar {
    margin-top: 20px;
    display: inline-flex;
}

.icon-bar a {
    float: left;
    text-align: center;
    width: 25%;
    padding: 18px;
    font-size: 32px;
    color: #86888a;    
}

.fa-linkedin-square {
    color: #0077b5;
}

.fa-github {
    color: #333333;
}

.fa-twitter {
    color: #00acee;
}

.fa-envelope {
    color: #777777;
}

.fa-file-text-o {
    color: #777777;
}

hr {
    border: 0.1px solid #bbbbbb;
    width: 75%;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.5);
}