* {
    font-family: "Noto Sans", sans-serif;
    background-color: #1a1a1a;
}

.container {
    text-align: center;
}

.pic {
    border-radius: 50%;
    border: 2px solid #c5c5c5;
}

h1 {
    color: #c5c5c5;
    letter-spacing: 3px;
}

.location {
    font-size: 20px;
    color: #aaaaaa;
    letter-spacing: 1px;
}

.descr {
    font-size: 14px;
    color: #dddddd;
    letter-spacing: 1px;
}

.icon-bar a {
    text-align: center;
    font-size: 32px;
    color: #86888a;
}

.fa-linkedin-square {
    color: #0077b5;
}

.fa-github {
    color: #c5c5c5;
}

.fa-twitter {
    color: #00acee;
}

.fa-envelope {
    color: #c5c5c5;
}

.fa-stack-overflow {
    color: #ffa500;
}

.fa-file-text-o {
    color: #c5c5c5;
}

hr {
    border: 0.1px solid #bbbbbb;
    width: 75%;
}

.zoom {
    transition: transform 0.2s;
}

.zoom:hover {
    transform: scale(1.5);
}
